/*-------------------------------------------*\
	Import Flow fonts
\*-------------------------------------------*/
/* @import "assets/flow-icons-strong.css";
@import "assets/flow-icons-line.css";
@import "assets/flow-fonts.css"; */

/*-------------------------------------------*\
	Import Bootstrap
\*-------------------------------------------*/
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

/*-------------------------------------------*\
	Imports for Flow
\*-------------------------------------------*/
@import "../node_modules/@implico/flow/flow.css";

/*-------------------------------------------*\
	Base settings Typography
\*-------------------------------------------*/
h1, h2, h3, h4 {
    font-family: "gt-walsheim-light", sans-serif;
}

.accordion-item h2 {
    font-family: "ibmplexsans-bold", sans-serif;
    font-weight: 700;
}

form {
    font-family: "ibmplexsans-regular", sans-serif;
    font-weight: 300;
}

/*-------------------------------------------*\
	Base settings
\*-------------------------------------------*/
.form-control {
    padding: 0.47rem 0.75rem;
}

.popout {
    width: 10rem!important;
}

.popout .text {
    width: -moz-fit-content;
    width: fit-content;
}

.bootstrap-select > .dropdown-toggle {
    background-color: #D2E1FF;
}

.required {
    color: #f44d54;
}

header {
    padding: 1rem;
    background-color: #371ae4;
    border-radius: 0.25rem;
    border-bottom: 0px;
}

header h1 {
    color: #fff;
    margin-bottom: 0;
}

.footer-negative-margins {
    margin: 0 -1.5rem -1.5rem -1.5rem;
}

/*-------------------------------------------*\
	Buttons
\*-------------------------------------------*/
.btn-no-outline {
    border: 0;
}

.btn-no-shadow {
    box-shadow: unset!important;
}

button.flow-small {
    max-height: 2.55rem;
}

/*-------------------------------------------*\
	UX dialogs
\*-------------------------------------------*/
#dialog-delete, #dialog-warning {
    width: 25vw;
    height: 20vh;
}

#displayMessage {
    text-align: center;
}

ux-dialog {
    background-color: #fff;
}

.color-primary-blue {
    color: #448aff;
}

ux-dialog>ux-dialog-footer button {
    color: #448aff;
    background-color: #fff;
    padding: 6px 24px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid #448aff;
    border-radius: 4px;
    margin: 0;
}

ux-dialog>ux-dialog-footer button:hover:enabled {
    border: 2px solid #6e3dc8;
    color: #6e3dc8;
    background-color: #fff;
}

/*-------------------------------------------*\
	DataTable overrides
\*-------------------------------------------*/
/* whole datatables fixed fixed in npm flow */
.dataTables_wrapper .dataTables_filter {
    margin: 1rem 0 1rem 0;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter label input {
    margin-left: 0.5rem;
}

*:not(.dataTables_wrapper) table {
    padding: 0;
}

.dataTables_wrapper table {
    margin-bottom: 0;
    font-family: "ibmplexsans-regular", sans-serif;
    font-weight: 300;
}

.dataTables_wrapper table thead th {
    text-transform: uppercase;
    font-size: 0.75rem;
    vertical-align: middle;
    height: 1.5rem;
}

:root table tbody tr:nth-child(odd), .table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: #edf4ff;
    --bs-table-accent-bg: #edf4ff;;
    vertical-align: middle;
}

:root table tbody tr:nth-child(even), .table-striped > tbody > tr:nth-of-type(even) > * {
    background-color: #dae8ff;
    vertical-align: middle;
}

:root table tbody tr th, :root table tbody tr td {
    border-right-color: #fff;
}

.table-bordered > :not(caption) > * > * {
    border-width: 1px;
    border-color: #fff;
}

table tbody tr:last-of-type th, table tbody tr:last-of-type td {
    border-bottom: 0!important;
}

:root table tbody tr:hover {
    --background-color: #c9cbff;
}

.dataTables_wrapper .dataTables_info {
    margin-top: 1rem;
    padding-left: 0.5rem;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.dataTables_wrapper .dataTables_paginate a {
    padding: 0.5rem;
    border: 0;
    text-decoration: none;
    min-width: 3rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataTables_wrapper .dataTables_paginate a:hover {
    background-color: #371ae4;
}


.dataTables_wrapper .dataTables_paginate a.previous {
    border-radius: 0.25rem;
}

.dataTables_wrapper .dataTables_paginate a.current {
    border: 0;
    padding: 9px 16px;
}

.dataTables_wrapper .dataTables_paginate a.next {
    border-radius: 0.25rem;
}

/* button fix for the buttons in dataTables */
.dataTables_wrapper td a.btn {
    margin-right: 0.5rem;
}
