/**
 * _flow-icons.scss
 *
 * These file contains all our Flow custom icons.
 *
 * INDEX
 * - 1.0 Icon Imports
 * 		- 1.1 Icon Regular
 *		- 1.2 Icon Bold
 */
/*-------------------------------------------*\

   1.0 What to use

   Regular icon: this is the preferred icon family to use.

   Bold icon: This is the bold variant of our icon family,
   perfect for smaller icon usages.

   1.1 ICON REGULAR OVERVIEWS
   Click on the link below to view our Flow Icons Regular:
   https://implico.frontify.com/projects/360899/flow-icons-regular

   1.2 ICON BOLD OVERVIEWS
   Click on the link below to view our Flow Icons Bold:
   https://implico.frontify.com/projects/360900/flow-icons-bold

   For access to Frontify please contact us at flow@implico.com

\*-------------------------------------------*/
/*-------------------------------------------*\
		1.0 Icon Imports
\*-------------------------------------------*/
/* 1.1 Icon Regular */
@font-face {
    font-family: "flow-icons-regular";
    src: url("../lib/icons/flow-icons-regular.ttf") format("truetype"), url("../lib/icons/flow-icons-regular.woff") format("woff"), url("../lib/icons/flow-icons-regular.woff2") format("woff2");
}
i[class^=icon-regular--]:before, i[class*=" icon-regular--"]:before {
    font-family: flow-icons-regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 1.2 Icon Bold */
@font-face {
    font-family: "flow-icons-bold";
    src: url("../lib/icons/flow-icons-bold.ttf") format("truetype"), url("../lib/icons/flow-icons-bold.woff") format("woff"), url("../lib/icons/flow-icons-bold.woff2") format("woff2");
}
i[class^=icon-bold--]:before, i[class*=" icon-bold--"]:before {
    font-family: flow-icons-bold !important;
    font-style: normal;
    font-weight: bold !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-regular--404:before {
    content: "\f101";
}

.icon-regular--academy:before {
    content: "\f102";
}

.icon-regular--activated:before {
    content: "\f103";
}

.icon-regular--airplane:before {
    content: "\f104";
}

.icon-regular--apps:before {
    content: "\f105";
}

.icon-regular--arrow-double-left:before {
    content: "\f106";
}

.icon-regular--arrow-double-right:before {
    content: "\f107";
}

.icon-regular--arrow-down:before {
    content: "\f108";
}

.icon-regular--arrow-left:before {
    content: "\f109";
}

.icon-regular--arrow-right:before {
    content: "\f10a";
}

.icon-regular--arrow-up:before {
    content: "\f10b";
}

.icon-regular--award:before {
    content: "\f10c";
}

.icon-regular--barcode:before {
    content: "\f10d";
}

.icon-regular--basket:before {
    content: "\f10e";
}

.icon-regular--berth:before {
    content: "\f10f";
}

.icon-regular--blend-new:before {
    content: "\f110";
}

.icon-regular--blend:before {
    content: "\f111";
}

.icon-regular--bullet-point:before {
    content: "\f112";
}

.icon-regular--bulls-eye:before {
    content: "\f113";
}

.icon-regular--calculator:before {
    content: "\f114";
}

.icon-regular--calendar:before {
    content: "\f115";
}

.icon-regular--calender-undo:before {
    content: "\f116";
}

.icon-regular--camera:before {
    content: "\f117";
}

.icon-regular--caret-right:before {
    content: "\f118";
}

.icon-regular--caret-down:before {
    content: "\f119";
}

.icon-regular--caret-left:before {
    content: "\f11a";
}

.icon-regular--caret-up:before {
    content: "\f11b";
}

.icon-regular--chat_1:before {
    content: "\f11c";
}

.icon-regular--chat:before {
    content: "\f11d";
}

.icon-regular--checkbox-checked:before {
    content: "\f11e";
}

.icon-regular--checkbox-empty:before {
    content: "\f11f";
}

.icon-regular--checklist:before {
    content: "\f120";
}

.icon-regular--checkmark-circle:before {
    content: "\f121";
}

.icon-regular--checkmark:before {
    content: "\f122";
}

.icon-regular--clear:before {
    content: "\f123";
}

.icon-regular--client-relations-new:before {
    content: "\f124";
}

.icon-regular--client-relations:before {
    content: "\f125";
}

.icon-regular--clock:before {
    content: "\f126";
}

.icon-regular--cloud:before {
    content: "\f127";
}

.icon-regular--code:before {
    content: "\f128";
}

.icon-regular--coffee-club:before {
    content: "\f129";
}

.icon-regular--collapse:before {
    content: "\f12a";
}

.icon-regular--container-lafette:before {
    content: "\f12b";
}

.icon-regular--container-rdco:before {
    content: "\f12c";
}

.icon-regular--container:before {
    content: "\f12d";
}

.icon-regular--core-atom:before {
    content: "\f12e";
}

.icon-regular--core:before {
    content: "\f12f";
}

.icon-regular--danger:before {
    content: "\f130";
}

.icon-regular--de-activate:before {
    content: "\f131";
}

.icon-regular--deactivated:before {
    content: "\f132";
}

.icon-regular--disabled:before {
    content: "\f133";
}

.icon-regular--document-dollar:before {
    content: "\f134";
}

.icon-regular--document-euro-new:before {
    content: "\f135";
}

.icon-regular--document-euro:before {
    content: "\f136";
}

.icon-regular--document-new:before {
    content: "\f137";
}

.icon-regular--document:before {
    content: "\f138";
}

.icon-regular--documentation-specification:before {
    content: "\f139";
}

.icon-regular--download-document:before {
    content: "\f13a";
}

.icon-regular--download:before {
    content: "\f13b";
}

.icon-regular--earth-globe:before {
    content: "\f13c";
}

.icon-regular--edit:before {
    content: "\f13d";
}

.icon-regular--email:before {
    content: "\f13e";
}

.icon-regular--enterprise:before {
    content: "\f13f";
}

.icon-regular--expand:before {
    content: "\f140";
}

.icon-regular--eye:before {
    content: "\f141";
}

.icon-regular--faq:before {
    content: "\f142";
}

.icon-regular--file-upload:before {
    content: "\f143";
}

.icon-regular--filter:before {
    content: "\f144";
}

.icon-regular--flag:before {
    content: "\f145";
}

.icon-regular--flowmeter:before {
    content: "\f146";
}

.icon-regular--folder:before {
    content: "\f147";
}

.icon-regular--garbage-can:before {
    content: "\f148";
}

.icon-regular--glossary:before {
    content: "\f149";
}

.icon-regular--graph-bars:before {
    content: "\f14a";
}

.icon-regular--graph-up:before {
    content: "\f14b";
}

.icon-regular--graph:before {
    content: "\f14c";
}

.icon-regular--grid:before {
    content: "\f14d";
}

.icon-regular--hamburger-menu-add:before {
    content: "\f14e";
}

.icon-regular--hamburger-menu:before {
    content: "\f14f";
}

.icon-regular--handheld-rugged:before {
    content: "\f150";
}

.icon-regular--handshake:before {
    content: "\f151";
}

.icon-regular--heart:before {
    content: "\f152";
}

.icon-regular--help_1:before {
    content: "\f153";
}

.icon-regular--help:before {
    content: "\f154";
}

.icon-regular--home:before {
    content: "\f155";
}

.icon-regular--hourglass:before {
    content: "\f156";
}

.icon-regular--id-card:before {
    content: "\f157";
}

.icon-regular--index:before {
    content: "\f158";
}

.icon-regular--information:before {
    content: "\f159";
}

.icon-regular--issue:before {
    content: "\f15a";
}

.icon-regular--lamp:before {
    content: "\f15b";
}

.icon-regular--layers:before {
    content: "\f15c";
}

.icon-regular--lightning-flash:before {
    content: "\f15d";
}

.icon-regular--line-arrow-down:before {
    content: "\f15e";
}

.icon-regular--line-arrow-left:before {
    content: "\f15f";
}

.icon-regular--line-arrow-right:before {
    content: "\f160";
}

.icon-regular--line-arrow-up:before {
    content: "\f161";
}

.icon-regular--loading-unloading:before {
    content: "\f162";
}

.icon-regular--loading:before {
    content: "\f163";
}

.icon-regular--location-new:before {
    content: "\f164";
}

.icon-regular--location:before {
    content: "\f165";
}

.icon-regular--lock:before {
    content: "\f166";
}

.icon-regular--log-in:before {
    content: "\f167";
}

.icon-regular--log-out:before {
    content: "\f168";
}

.icon-regular--measured-weight:before {
    content: "\f169";
}

.icon-regular--medal:before {
    content: "\f16a";
}

.icon-regular--moon_1:before {
    content: "\f16b";
}

.icon-regular--moon:before {
    content: "\f16c";
}

.icon-regular--mot-barge:before {
    content: "\f16d";
}

.icon-regular--mot-push-barge:before {
    content: "\f16e";
}

.icon-regular--mot-ship-gis:before {
    content: "\f16f";
}

.icon-regular--mot-truck-ship:before {
    content: "\f170";
}

.icon-regular--move:before {
    content: "\f171";
}

.icon-regular--notification-off:before {
    content: "\f172";
}

.icon-regular--notification:before {
    content: "\f173";
}

.icon-regular--on-board-unit:before {
    content: "\f174";
}

.icon-regular--open-new-window:before {
    content: "\f175";
}

.icon-regular--overflow-menu:before {
    content: "\f176";
}

.icon-regular--overview:before {
    content: "\f177";
}

.icon-regular--paste-board-ok:before {
    content: "\f178";
}

.icon-regular--paste-board:before {
    content: "\f179";
}

.icon-regular--pipe:before {
    content: "\f17a";
}

.icon-regular--placeholder:before {
    content: "\f17b";
}

.icon-regular--plant:before {
    content: "\f17c";
}

.icon-regular--plus:before {
    content: "\f17d";
}

.icon-regular--pokeball:before {
    content: "\f17e";
}

.icon-regular--printer:before {
    content: "\f17f";
}

.icon-regular--process-step:before {
    content: "\f180";
}

.icon-regular--product-new:before {
    content: "\f181";
}

.icon-regular--product-split:before {
    content: "\f182";
}

.icon-regular--product:before {
    content: "\f183";
}

.icon-regular--rail-to-ship:before {
    content: "\f184";
}

.icon-regular--railcar:before {
    content: "\f185";
}

.icon-regular--refresh:before {
    content: "\f186";
}

.icon-regular--reservation-new:before {
    content: "\f187";
}

.icon-regular--resize-inputfield:before {
    content: "\f188";
}

.icon-regular--rocket:before {
    content: "\f189";
}

.icon-regular--roof-correction:before {
    content: "\f18a";
}

.icon-regular--ruler:before {
    content: "\f18b";
}

.icon-regular--save:before {
    content: "\f18c";
}

.icon-regular--seal-ribbon:before {
    content: "\f18d";
}

.icon-regular--seal-tag:before {
    content: "\f18e";
}

.icon-regular--seal:before {
    content: "\f18f";
}

.icon-regular--search-user:before {
    content: "\f190";
}

.icon-regular--search:before {
    content: "\f191";
}

.icon-regular--security-token:before {
    content: "\f192";
}

.icon-regular--service-order-new:before {
    content: "\f193";
}

.icon-regular--service-order:before {
    content: "\f194";
}

.icon-regular--service-station:before {
    content: "\f195";
}

.icon-regular--settings:before {
    content: "\f196";
}

.icon-regular--shell-correction:before {
    content: "\f197";
}

.icon-regular--ship-bunker:before {
    content: "\f198";
}

.icon-regular--ship-unload:before {
    content: "\f199";
}

.icon-regular--ship:before {
    content: "\f19a";
}

.icon-regular--shop:before {
    content: "\f19b";
}

.icon-regular--shopping-cart:before {
    content: "\f19c";
}

.icon-regular--sign:before {
    content: "\f19d";
}

.icon-regular--smile:before {
    content: "\f19e";
}

.icon-regular--sort-ascending:before {
    content: "\f19f";
}

.icon-regular--sort-descending:before {
    content: "\f1a0";
}

.icon-regular--sort-empty:before {
    content: "\f1a1";
}

.icon-regular--star-trek:before {
    content: "\f1a2";
}

.icon-regular--star:before {
    content: "\f1a3";
}

.icon-regular--stopwatch:before {
    content: "\f1a4";
}

.icon-regular--strapping-table:before {
    content: "\f1a5";
}

.icon-regular--sun_1:before {
    content: "\f1a6";
}

.icon-regular--sun:before {
    content: "\f1a7";
}

.icon-regular--support-ticket:before {
    content: "\f1a8";
}

.icon-regular--support:before {
    content: "\f1a9";
}

.icon-regular--system-status:before {
    content: "\f1aa";
}

.icon-regular--tablet:before {
    content: "\f1ab";
}

.icon-regular--tank-levels:before {
    content: "\f1ac";
}

.icon-regular--tank-to-tank:before {
    content: "\f1ad";
}

.icon-regular--tank:before {
    content: "\f1ae";
}

.icon-regular--telephone:before {
    content: "\f1af";
}

.icon-regular--thumbs-down:before {
    content: "\f1b0";
}

.icon-regular--thumbs-up:before {
    content: "\f1b1";
}

.icon-regular--time-undo:before {
    content: "\f1b2";
}

.icon-regular--timesheet:before {
    content: "\f1b3";
}

.icon-regular--truck-and-trailer:before {
    content: "\f1b4";
}

.icon-regular--truck-driver:before {
    content: "\f1b5";
}

.icon-regular--truck-hanger:before {
    content: "\f1b6";
}

.icon-regular--truck-tractor:before {
    content: "\f1b7";
}

.icon-regular--truck-trailer:before {
    content: "\f1b8";
}

.icon-regular--truck-vehicle:before {
    content: "\f1b9";
}

.icon-regular--tutorials:before {
    content: "\f1ba";
}

.icon-regular--undo:before {
    content: "\f1bb";
}

.icon-regular--unloading:before {
    content: "\f1bc";
}

.icon-regular--user-customs:before {
    content: "\f1bd";
}

.icon-regular--user-expressionless:before {
    content: "\f1be";
}

.icon-regular--user-female:before {
    content: "\f1bf";
}

.icon-regular--user-group:before {
    content: "\f1c0";
}

.icon-regular--user-operator:before {
    content: "\f1c1";
}

.icon-regular--user-smile-new:before {
    content: "\f1c2";
}

.icon-regular--user-smile:before {
    content: "\f1c3";
}

.icon-regular--user:before {
    content: "\f1c4";
}

.icon-regular--video:before {
    content: "\f1c5";
}

.icon-regular--volume-correction-edit:before {
    content: "\f1c6";
}

.icon-regular--volume-correction-new:before {
    content: "\f1c7";
}

.icon-regular--volume-correction:before {
    content: "\f1c8";
}

.icon-regular--waiting:before {
    content: "\f1c9";
}

.icon-regular--warning:before {
    content: "\f1ca";
}

.icon-regular--weight:before {
    content: "\f1cb";
}

.icon-regular--weightbridge:before {
    content: "\f1cc";
}

.icon-bold--404:before {
    content: "\f101";
}

.icon-bold--arrow-down:before {
    content: "\f102";
}

.icon-bold--arrow-left:before {
    content: "\f103";
}

.icon-bold--arrow-right:before {
    content: "\f104";
}

.icon-bold--arrow-up:before {
    content: "\f105";
}

.icon-bold--berth:before {
    content: "\f106";
}

.icon-bold--checkmark-circle:before {
    content: "\f107";
}

.icon-bold--checkmark:before {
    content: "\f108";
}

.icon-bold--clear:before {
    content: "\f109";
}

.icon-bold--clock:before {
    content: "\f10a";
}

.icon-bold--collapse:before {
    content: "\f10b";
}

.icon-bold--document-euro:before {
    content: "\f10c";
}

.icon-bold--expand:before {
    content: "\f10d";
}

.icon-bold--flowmeter:before {
    content: "\f10e";
}

.icon-bold--grid:before {
    content: "\f10f";
}

.icon-bold--line-arrow-down:before {
    content: "\f110";
}

.icon-bold--line-arrow-left:before {
    content: "\f111";
}

.icon-bold--line-arrow-right:before {
    content: "\f112";
}

.icon-bold--line-arrow-up:before {
    content: "\f113";
}

.icon-bold--loading-unloading:before {
    content: "\f114";
}

.icon-bold--log-in:before {
    content: "\f115";
}

.icon-bold--log-out:before {
    content: "\f116";
}

.icon-bold--move:before {
    content: "\f117";
}

.icon-bold--pipe:before {
    content: "\f118";
}

.icon-bold--plus:before {
    content: "\f119";
}

.icon-bold--rocket:before {
    content: "\f11a";
}

.icon-bold--shell-correction:before {
    content: "\f11b";
}

.icon-bold--support:before {
    content: "\f11c";
}

.icon-bold--tank:before {
    content: "\f11d";
}

.icon-bold--user-smile:before {
    content: "\f11e";
}

.icon-bold--weightbridge:before {
    content: "\f11f";
}

/* GT Walsheim load */
@font-face {
    font-family: "gt-walsheim-light";
    src: url("../lib/fonts/GT-Walsheim-Light.woff") format("woff"), url("../lib/fonts/GT-Walsheim-Light.woff2") format("woff2");
}
@font-face {
    font-family: "gt-walsheim-bold";
    src: url("../lib/fonts/GT-Walsheim-Bold.woff") format("woff"), url("../lib/fonts/GT-Walsheim-Bold.woff2") format("woff2");
}
/* IBM Plex Mono load */
@font-face {
    font-family: "ibmplexmono-regular";
    src: url("../lib/fonts/ibmplexmono-regular-webfont.woff") format("woff"), url("../lib/fonts/ibmplexmono-regular-webfont.woff2") format("woff2");
}
/* IBM Plex Sans load */
@font-face {
    font-family: "ibmplexsans-regular";
    src: url("../lib/fonts/ibmplexsans-regular-webfont.woff") format("woff"), url("../lib/fonts/ibmplexsans-regular-webfont.woff2") format("woff2");
}
@font-face {
    font-family: "ibmplexsans-bold";
    src: url("../lib/fonts/ibmplexsans-bold-webfont.woff") format("woff"), url("../lib/fonts/ibmplexsans-bold-webfont.woff2") format("woff2");
}
/* makes the shadow move up to give effect of pressing it slightly. */
/* makes the shadow move up more to give effect of pressing it all the way down. */
.no-shadow {
    box-shadow: none;
}

/*-----------------------------------------------------------------*\
   Base palette
\*-----------------------------------------------------------------*/
/* Gray palette */
/*-----------------------------------------------------------------*\
   Element specific colors
\*-----------------------------------------------------------------*/
/* Scrollbars */
/* form colours */
/* Lighten variable */
/* Table colours */
/* Interaction colors */
/* OLD */
/* Interaction colors */
/* Base: Sets the absolute base unit based on 16px as defined in the base/asterisk.scss */
/* recommended size for buttons */
/* (bootstrap) Grid breakpoints */
/* border radius */
/* Tint and Shade Example Usage
.element {
  color: tint(#BADA55, 42%);
}

.another-element {
  background-color: shade(#663399, 42%);
}
 */
/*-------------------------------------------*\
  1.0 Helper class to size elements
\*-------------------------------------------*/
.font-size-xxl {
    font-size: 3rem;
}

.font-size-xl {
    font-size: 2.5rem;
}

.font-size-l {
    font-size: 1.5rem;
}

.font-size-m {
    font-size: 1rem;
}

.font-size-s {
    font-size: 0.85rem;
}

.font-size-xs {
    font-size: 0.75rem;
}

.font-size-xxs {
    font-size: 0.65rem;
}

.icon-size-xxxl {
    font-size: 5rem;
}

.icon-size-xxl {
    font-size: 4rem;
}

.icon-size-xl {
    font-size: 3rem;
}

.icon-size-l {
    font-size: 2.5rem;
}

.icon-size-m {
    font-size: 2rem;
}

.icon-size-s {
    font-size: 1.75rem;
}

.icon-size-xs {
    font-size: 1.5rem;
}

.icon-size-xxs {
    font-size: 1rem;
}

/* Line heights */
/* recommended line height */
/* Just add these to any element you want to animate with a simple transition shift */
/* Transitions for buttons */
/* Transitions for general things (except buttons) */
/*-------------------------------------------*\
	Overrides
\*-------------------------------------------*/
.flow-panel-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 0.75rem;
}

.hide-me {
    display: none;
}

/* Bootstrap override */
.container-fluid {
    margin: 0;
    padding: 0;
}

.flow-form {
    margin-bottom: 0.75rem;
}

.dataTables_paginate ul.pagination {
    padding: 0;
    margin: 0;
}

#accordion .accordion-item {
    border-radius: 0.25rem;
    border: 2px solid #448aff;
    background-color: #fff;
    margin-bottom: 0.75rem;
}
#accordion .accordion-item .collapse, #accordion .accordion-item .collapsing {
    padding: 1rem;
    border-top: 1px solid #448eff;
}
#accordion .accordion-button {
    padding: 0.75rem;
}
#accordion .accordion-button i {
    font-size: 1.5rem;
}

:root {
    --flow-base-unit: 1rem;
    --flow-dark-color: #1a1939;
    --scrollbar-color-track: #1eaaf1;
    --scrollbar-color-thumb: #451494;
    /*-------------------------------------------*\
    9.0 Alerts
    \*-------------------------------------------*/
    /*-------------------------------------------*\
    10.0 Status modifiers (Alerts etc.)
    \*-------------------------------------------*/
}
:root .flow-root, :root .flow-background {
    --background: linear-gradient(135deg, #0037a4 0%, #00d5fb 100%);
}
:root .flow-background-darker {
    --background: linear-gradient(249.08deg, #448AFF 18.79%, #371AE4 95.79%);
}
:root .flow-root > main {
    background-color: #ffffff;
}
:root main {
    --background: #ffffff;
}
:root .sidebar {
    --background-color: #1a1939;
}
:root .flow-panel {
    --color: #448aff;
    --background-color: white;
    --border-color: #448aff;
    --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 -2px 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12), 0 0px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}
:root header {
    --border-color: #448aff;
}
:root article {
    --color: #448aff;
}
:root h1, :root h2, :root h6 {
    --color: #448aff;
}
:root h2:after {
    --background: #a2c5ff;
}
:root h3 {
    --border-bottom-color: #6c757d;
}
:root h4 {
    --color: #6c757d;
}
:root p {
    --color: #000000;
}
:root p.flow-explanation {
    color: #6c757d;
}
:root section {
    --border-color: #448aff;
}
:root ul {
    --color: black;
}
:root dl dd {
    --color: black;
}
:root dl legend {
    --background-color: #448aff;
    --color: #ffffff;
}
:root dl.flow-primary {
    --box-shadow: 0 8px 12px rgba(68, 138, 255, 0.5), 0 4px 8px rgba(68, 138, 255, 0.3);
}
:root dl.flow-primary div {
    --background-color: #448aff;
}
:root dl.flow-primary div dt {
    --color: white;
    --background-color: #6e3dc8;
}
:root dl.flow-primary div dd {
    --color: white;
}
:root .flow-table-header {
    --background-color: #ffffff;
}
:root .flow-table-header h4 {
    --color: #343a40;
}
:root .flow-table-header .subscript {
    --color: #6c757d;
}
:root .flow-table-header div:last-of-type {
    --border-color: #448aff;
    --background-color: #ffffff;
}
:root table {
    --border-color: #ffffff;
    --color: #000000;
}
:root table caption {
    --background-color:#ffffff;
    --border-color: #D2E1FF;
    --color: #6e3dc8;
}
:root table caption code {
    --color: #6e3dc8;
}
:root table thead {
    --color: #448aff;
    --background-color: #D2E1FF;
}
:root table thead th, :root table thead td {
    --border-color: #448aff;
    --border-color-right: #ffffff;
}
:root table tbody tr:nth-child(odd), :root table tbody tr .table-striped > tbody > tr:nth-of-type(odd) > * {
    --background-color: #f6f9ff;
}
:root table tbody tr:nth-child(even), :root table tbody tr .table-striped > tbody > tr:nth-of-type(even) > * {
    --background-color: #ecf3ff;
}
:root table tbody tr:hover {
    --background-color: #dae8ff;
}
:root table tbody tr th, :root table tbody tr td {
    --border-color-bottom: #448aff;
}
:root table tfoot {
    --background-color: #448aff;
    --color: #ffffff;
}
:root table table tbody tr th, :root table table tbody tr td {
    --border-right-color: #ffffff;
}
:root table .table-bordered > :not(caption) > * > * {
    --border-color: #ffffff;
}
:root table :root table tbody tr:hover {
    --background-color: rgba(68, 138, 255, 0.3);
}
:root .dataTables_wrapper {
    --background-color: #ffffff;
}
:root .dataTables_wrapper div.dataTables_length {
    --background-color: #ffffff;
}
:root .dataTables_wrapper div.dataTables_length label select {
    --background-color: #D2E1FF;
}
:root .dataTables_wrapper .dataTables_paginate a {
    --border: #448aff;
}
:root .dataTables_wrapper .dataTables_filter label input {
    --background-color: #D2E1FF;
}
:root .flow-cards article {
    --background-color: #ffffff;
}
:root .flow-cards article header {
    --background-color: #448aff;
}
:root .flow-cards article main {
    --color: #000000;
}
:root .flow-cards article:hover {
    --background-color: #ecf3ff;
}
:root button {
    --color: #448aff;
    --background-color: #ffffff;
    --border-color: #448aff;
}
:root button:hover:not(:disabled) {
    --color: #6e3dc8;
    --border-color: #6e3dc8;
    --background-color: #e9e2f7;
}
:root button:disabled {
    --color: #adb5bd;
    --border-color: #adb5bd;
}
:root button.flow-positive {
    --color: #11a669;
    --border-color: #11a669;
}
:root button.flow-positive:hover {
    --color: #0c744a;
    --background-color: #dbf2e9;
    --border-color: #0c744a;
}
:root button.flow-negative {
    --color: #f44d54;
    --border-color: #f44d54;
}
:root button.flow-negative:hover {
    --color: #ab363b;
    --background-color: #fde4e5;
    --border-color: #ab363b;
}
:root button.flow-primary, :root a.flow-btn {
    --color: #ffffff;
    --background-color: #448aff;
    --box-shadow: 0 8px 12px rgba(68, 138, 255, 0.5), 0 4px 8px rgba(68, 138, 255, 0.3);
    --border-color: #448aff;
    /* flow-positive class: .flow-positive class on button */
    /* flow-negative class: .flow-negative class on button */
}
:root button.flow-primary:hover, :root a.flow-btn:hover {
    --background-color: #6337b4;
    --border-color: #6337b4;
    --box-shadow: 0 6px 9px rgba(110, 61, 200, 0.55), 0 3px 6px rgba(110, 61, 200, 0.35);
    --color: #ffffff;
}
:root button.flow-primary:active, :root a.flow-btn:active {
    --box-shadow: 0 2px 3px rgba(110, 61, 200, 0.6), 0 1px 2px rgba(110, 61, 200, 0.4);
}
:root button.flow-primary.flow-positive, :root a.flow-btn.flow-positive {
    --background-color: #11a669;
    --box-shadow: 0 8px 12px rgba(17, 166, 105, 0.5), 0 4px 8px rgba(17, 166, 105, 0.3);
    --border-color: #11a669;
}
:root button.flow-primary.flow-positive:hover, :root a.flow-btn.flow-positive:hover {
    --background-color: #0e8d59;
    --border-color: #0e8d59;
    --box-shadow: 0 6px 9px rgba(17, 166, 105, 0.55), 0 3px 6px rgba(17, 166, 105, 0.35);
    --color: #ffffff;
}
:root button.flow-primary.flow-positive:active, :root a.flow-btn.flow-positive:active {
    --box-shadow: 0 2px 3px rgba(17, 166, 105, 0.6), 0 1px 2px rgba(17, 166, 105, 0.4);
}
:root button.flow-primary.flow-negative, :root a.flow-btn.flow-negative {
    --background-color: #f44d54;
    --box-shadow: 0 8px 12px rgba(244, 77, 84, 0.5), 0 4px 8px rgba(244, 77, 84, 0.3);
    --border-color: #f44d54;
}
:root button.flow-primary.flow-negative:hover, :root a.flow-btn.flow-negative:hover {
    --background-color: rgba(244, 77, 84, 0.5);
    --border-color: rgba(244, 77, 84, 0.5);
    --box-shadow: 0 6px 9px rgba(244, 77, 84, 0.55), 0 3px 6px rgba(244, 77, 84, 0.35);
    --color: #f44d54;
}
:root button.flow-primary.flow-negative:active, :root a.flow-btn.flow-negative:active {
    --box-shadow: 0 2px 3px rgba(244, 77, 84, 0.6), 0 1px 2px rgba(244, 77, 84, 0.4);
}
:root button.flow-primary:disabled, :root a.flow-btn:disabled {
    --background-color: #ced4da;
    --color: #495057;
    --box-shadow: unset;
    border: unset;
}
:root nav ul {
    --color: #ffffff;
}
:root nav ul li.active {
    --background-color: #448aff;
}
:root nav .scu-logo:hover, :root nav li:hover {
    --color: #1a1939;
    --background-color: #d0e2ff;
}
:root nav .popout {
    --color: #ffffff;
    --background-color: #1a1939;
}
:root form {
    --border-color: #448aff;
}
:root form input {
    --background-color: #D2E1FF;
    --border-color: #D2E1FF;
}
:root form input:focus, :root form input:focus-visible {
    --border-color: #448aff;
    --outline-color: #448aff;
}
:root form input:hover {
    --background-color: #a2c5ff;
}
:root form input:hover::placeholder {
    --color: pal.$primary-blue;
}
:root form label {
    --color: pal.$primary-blue;
}
:root textarea, :root select {
    --background-color: #D2E1FF;
    --border-color: #D2E1FF;
}
:root textarea option, :root select option {
    --background-color: #D2E1FF;
}
:root ::placeholder {
    --color: #a2c5ff;
}
:root footer, :root ux-dialog > ux-dialog-footer {
    --background-color: #ffffff;
    --border-color: #448aff;
}
:root .flow-alert {
    --background-color: #D2E1FF;
    --border-color: #D2E1FF;
}
:root .flow-alert h1 {
    --color: #448aff;
}
:root .flow-alert .button-dismiss {
    --color: #448aff;
}
:root .flow-alert .button-dismiss:hover {
    --color: #6e3dc8;
}
:root .flow-alert .flow-link {
    --background-color: transparent;
    --color: #448aff;
}
:root .flow-alert .flow-link:hover:not(:disabled) {
    --color: #6e3dc8;
}
:root .--success {
    --background-color: rgba(17, 166, 105, 0.25);
    --border-color: rgba(17, 166, 105, 0.25);
    --color: #11a669;
}
:root .--success h1 {
    --color:#11a669;
}
:root .--success i:nth-child(2) {
    --color: #11a669;
}
:root .--success i:nth-child(2):hover {
    --color: #0A5536;
}
:root .--success .flow-link {
    --color: #11a669;
}
:root .--success .flow-link:hover {
    --color: #0A5536;
}
:root .--warning {
    --background-color: rgba(253, 151, 39, 0.25);
    --border-color: rgba(253, 151, 39, 0.25);
    --color: #fd9727;
}
:root .--warning h1 {
    --color:#fd9727;
}
:root .--warning i:nth-child(2) {
    --color: #fd9727;
}
:root .--warning i:nth-child(2):hover {
    --color: #C76C02;
}
:root .--warning button {
    --color: #fd9727;
}
:root .--warning button:hover {
    --color: #C76C02;
}
:root .--error {
    --background-color: rgba(244, 77, 84, 0.25);
    --border-color: rgba(244, 77, 84, 0.25);
    --color: #f44d54;
}
:root .--error h1 {
    --color: #f44d54;
}
:root .--error i:nth-child(2) {
    --color: #f44d54;
}
:root .--error i:nth-child(2):hover {
    --color: #A41F24;
}
:root .--error button {
    --color: #f44d54;
}
:root .--error button:hover {
    --color: #A41F24;
}

body {
    font-family: "ibmplexsans-regular", sans-serif;
    font-weight: 300;
}

body, .content-wrapper {
    background-image: linear-gradient(to right, #371ae4, #448aff);
    background-color: #371ae4;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*@use 'scrollbar';*/
html {
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}

/* Imports */
/*bootstrap grid */
/*-------------------------------------------*\
    1.0 Base Flow Alert Panel
\*-------------------------------------------*/
.flow-alert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem 0.5rem 1rem;
    width: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    /* Top part of the Flow alert */
    /* Bottom part of the Flow alert */
    /* status designs */
}
.flow-alert div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flow-alert div:first-child h1 {
    display: flex;
    align-items: center;
    padding: 0;
    color: var(--color);
}
.flow-alert div:first-child h1 i {
    font-size: 1.5rem;
}
.flow-alert div:first-child i:nth-child(2) {
    color: var(--color);
    font-size: 1.5rem;
    transition: all 0.25s ease-in-out;
}
.flow-alert div:first-child i:nth-child(2):hover {
    color: var(--color);
    cursor: pointer;
}
.flow-alert div:nth-child(2) p {
    margin: 0.25rem 0 0 0;
}
.flow-alert div:nth-child(2) button {
    border: 0;
    background: none;
    padding: 0.5rem 0;
    text-decoration: underline;
}
.flow-alert .--success h1 {
    color: var(--color);
}
.flow-alert .--success i {
    color: var(--color);
}
.flow-alert .--success button {
    color: var(--color);
}
.flow-alert .--warning h1 {
    color: var(--color);
}
.flow-alert .--warning i {
    color: var(--color);
}
.flow-alert .--warning button {
    color: var(--color);
}
.flow-alert .--error h1 {
    color: var(--color);
}
.flow-alert .--error i {
    color: var(--color);
}
.flow-alert .--error button {
    color: var(--color);
}

/* Small alert */
.alert-small {
    padding: 0.15rem 0.15rem 0.15rem 0.75rem;
}
.alert-small h1 {
    font-size: 1rem;
    font-weight: 700;
}
.alert-small h1 i {
    font-size: 0.85rem;
}

article {
    height: 100%;
    box-sizing: border-box;
}

/*-------------------------------------------*\
  general settings for all buttons
  These are the design for the 'standard'
  HTML button <button>

  Base size = small
\*-------------------------------------------*/
button, .flow-btn {
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    min-height: 2.5rem;
    align-self: stretch;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border-style: solid;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, transform 0.25s;
    line-height: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}
button i, .flow-btn i {
    font-size: 1rem;
    position: relative;
    bottom: -2px;
    margin-right: 0.75rem;
}

/*-------------------------------------------*\
	The Flow primary button.
	When do we use this?

	Add class btn-primary to <button>
\*-------------------------------------------*/
button.flow-primary, a.flow-btn {
    color: var(--color);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-color: var(--border-color);
    /* flow-positive class: .flow-positive class on button */
    /* flow-negative class: .flow-negative class on button */
}
button.flow-primary:hover, a.flow-btn:hover {
    transform: translate(0px, 1px);
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--color);
    box-shadow: var(--box-shadow);
}
button.flow-primary:active, a.flow-btn:active {
    transform: translate(0px, 3px);
    box-shadow: var(--box-shadow);
}
button.flow-primary.flow-positive, a.flow-btn.flow-positive {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-color: var(--border-color);
}
button.flow-primary.flow-positive:hover, a.flow-btn.flow-positive:hover {
    background-color: var(--background-color);
    border-color: var(--border-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
}
button.flow-primary.flow-positive:active, a.flow-btn.flow-positive:active {
    box-shadow: var(--box-shadow);
}
button.flow-primary.flow-negative, a.flow-btn.flow-negative {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-color: var(--border-color);
}
button.flow-primary.flow-negative:hover, a.flow-btn.flow-negative:hover {
    background-color: var(--background-color);
    border-color: var(--border-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
}
button.flow-primary:disabled, a.flow-btn:disabled {
    transform: translate(0px, 0px);
    background-color: var(--background-color);
    color: var(--color);
    box-shadow: unset;
    border: unset;
    cursor: not-allowed;
}

/*-------------------------------------------*\
	The Flow secondary button.

	Add class btn-primary to <button>
\*-------------------------------------------*/
button {
    color: var(--color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}
button:hover:not(:disabled) {
    color: var(--color);
    border-color: var(--border-color);
    background-color: var(--background-color);
}
button:disabled {
    color: var(--color);
    border-color: var(--border-color);
    cursor: not-allowed;
}
button.flow-positive {
    color: var(--color);
    border-color: var(--border-color);
}
button.flow-positive:hover {
    color: var(--color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}
button.flow-negative {
    color: var(--color);
    border-color: var(--border-color);
}
button.flow-negative:hover {
    color: var(--color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.flow-card footer button {
    align-self: flex-end;
}

/*-------------------------------------------*\
	The Flow link button.
	When do we use this?
\*-------------------------------------------*/
.flow-link {
    color: var(--color);
    text-decoration: underline;
    border: unset;
    background-color: var(--background-color);
}
.flow-link:hover:not(:disabled) {
    color: var(--color);
    background-color: var(--background-color);
}

/*-------------------------------------------*\
  Button size classes
  Standard button size is small (2 rem)
\*-------------------------------------------*/
button.flow-small {
    min-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
}

button.flow-large {
    min-height: 3.25rem;
    max-height: 3.25rem;
    overflow: hidden;
}
button.flow-large i {
    font-size: 1.5rem;
}

/*-------------------------------------------*\
  Button helper classes for certain situations
\*-------------------------------------------*/
/* button with no outline - for use in modals as close buttons */
button.no-outline {
    border: 0;
}

.flow-card {
    background-color: var(--background-color);
    border-radius: 0.25rem;
    /*box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 12%), 0 8px 8px rgb(0 0 0 / 12%), 0 16px 16px rgb(0 0 0 / 12%);*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 2px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-in-out;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.flow-card .flow-card-header {
    height: 2.5rem;
    font-size: 0.85rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #fff;
    background-color: #1a1939;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 0.25rem 0.25rem 0 0;
    /*
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #448aff;
    */
    outline: 0;
    outline-offset: 0;
    width: 100%;
    padding-left: 1rem;
    -moz-font-feature-settings: "kern" 1;
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
.flow-card .card-body {
    padding: 1rem;
}

.card-header {
    background-color: #fff;
    border: 2px solid #448aff;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    margin-bottom: 1rem;
}
.card-header a {
    text-decoration: none;
}

/* headers */
.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius);
}

.card {
    --bs-card-border-width: 0;
}

/* Card container */
/*.flow-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: $unit-base;
	grid-row-gap: $unit-base;
	grid-auto-rows: 1fr;
	margin: $margin-xl;
}*/
/* card design */
article {
    background-color: var(--background-color);
    border-radius: 0.25rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
    transition: all 0.25s ease-in-out;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
article header {
    overflow: hidden;
    height: 10rem;
    border-radius: 0.25rem 0.25rem 0 0;
    transition: all 0.25s ease-in-out;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
}
article header img {
    border-radius: 0.0625rem 0.0625rem 0 0;
    transition: all 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article main {
    margin: 1.5rem;
    color: var(--color);
    line-height: 1.5rem;
}
article footer {
    display: grid;
    margin: auto 1.5rem 1.5rem 1.5rem;
}
article:hover {
    background-color: var(--background-color);
}

/* media queries for the cards */
@media (min-width: 768px) {
    .flow-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1280px) {
    .flow-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
dl {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-auto-rows: 1fr;
    margin: 1.5rem;
    margin-top: 2rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25rem;
    padding: 0.75rem;
}
dl dt {
    font-size: 0.75rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}
dl dd {
    margin: 0;
    color: var(--color);
}

/* Fancy header with icons */
dl.flow-primary {
    border: 0;
    box-shadow: var(--box-shadow);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
}
dl.flow-primary div {
    min-width: 6rem;
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: var(--background-color);
}
dl.flow-primary div dt {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.65rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--color);
    background-color: var(--background-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
dl.flow-primary div dd {
    display: flex;
    text-align: center;
    color: var(--color);
    flex-direction: column;
    padding: 0.5rem;
    font-size: 0.85rem;
    letter-spacing: 0.03rem;
}
dl.flow-primary div dd i {
    margin: 0 0 0.25rem 0;
    font-size: 2.5rem;
}

@media (min-width: 576px) {
    dl {
        grid-template-columns: repeat(2, 1fr);
    }
    dl.flow-primary {
        grid-template-columns: repeat(2, 1fr);
    }
    dl.flow-primary div dt {
        font-size: 0.75rem;
    }
}
@media (min-width: 768px) {
    dl {
        grid-template-columns: repeat(3, 1fr);
    }
    dl.flow-primary {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    dl {
        grid-template-columns: repeat(6, 1fr);
    }
    dl.flow-primary {
        grid-template-columns: repeat(6, 1fr);
    }
    dl.flow-primary div dd {
        padding: 0.75rem;
        font-size: 1rem;
        letter-spacing: 0;
    }
    dl.flow-primary div dd span {
        font-size: 2.5rem;
        margin: 0 0 0.375rem 0;
    }
}
/*-------------------------------------------*\
   1.0 Actionbar
\*-------------------------------------------*/
.flow-card footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "left right";
    position: relative;
    margin: 0 -1rem -1rem -1rem;
    padding: 16px;
    border-top: 2px solid #448aff;
    border-radius: 0 0 0.25rem 0.25rem;
    /**:not(legend) {
        grid-area: middle;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }*/
}
.flow-card footer *.flow-left {
    grid-area: left;
    justify-content: flex-start;
}
.flow-card footer *.flow-right {
    grid-area: right;
    justify-content: flex-end;
}

/*.flow-actionbar {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: "left middle right";

	position: relative;
	// margin-top: 16px;
	margin-top: 0px;
	padding: 16px;

	// background-color: pal.$white;

	border-top: 2px solid pal.$primary-blue;
	border-radius: 0 0 $border-radius $border-radius;

	*:not(legend) {
		grid-area: middle;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	*.flow-left {
		grid-area: left;
		justify-content: flex-start;
	}

	*.flow-right {
		grid-area: right;
		justify-content: flex-end;
	}
}*/
.flow-root {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    background: var(--background);
}

.flow-root {
    grid-template-rows: auto auto auto auto 1fr auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "topnav" "leftnav" "header" "left" "content" "right" "footer" "rightnav" "bottomnav";
}

@media (min-width: 768px) {
    .flow-root {
        grid-template-columns: auto auto 1fr auto auto;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas: ". topnav topnav topnav ." "leftnav header header header rightnav" "leftnav left content right rightnav" "leftnav footer footer footer rightnav" ". bottomnav bottomnav bottomnav .";
    }
}
footer, ux-dialog > ux-dialog-footer {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    border-top: 2px solid var(--border-color);
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: var(--background-color);
}

footer.fit {
    margin: 0 calc(1.5rem * -1) calc(1rem * -1) calc(1.5rem * -1);
}

/*-------------------------------------------*\
		Fieldset and Form elements

		1.0 Fieldset reset
		1.1 Fieldset container for legend
		2.0 Form elements (inputs etc.)
		2.1 Custom Select
		2.2 Placeholder
		3.0. Inline forms
		4.0 Helper classes
\*-------------------------------------------*/
/* bootstrap override */
.form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    transition: all 0.25s ease-in-out;
    border-radius: 0.25rem;
}
.form-control:focus, .form-control:focus-visible {
    border: 1px solid var(--border-color);
    outline-color: var(--outline-color);
}
.form-control:hover {
    background-color: var(--background-color);
    transition: all 0.25s ease-in-out;
}
.form-control:hover::placeholder {
    color: var(--color);
}

/* Add standard margin on the bottom for each row inside a form */
form .row {
    margin-bottom: 0.75rem;
}

/* OG classes */
/*input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: $padding-xs $padding-m;
	font-size: $font-size-s;
	font-weight: 400;
	line-height: $line-height-m;
	color: #212529;
	background-color: var(--background-color);
	background-clip: padding-box;
	border: 1px solid var(--border-color);
	transition: $trans-all-medium;
	border-radius: $border-radius;

	&:focus, &:focus-visible {
		border: 1px solid var(--border-color);
		outline-color: var(--outline-color);
	}

	&:hover {
		background-color: var(--background-color);
		transition: $trans-all-medium;

		&::placeholder {
			color: var(--color);
		}
	}
}*/
input[type=radio], input[type=checkbox] {
    width: unset;
    display: inline;
}

input[type=date] {
    line-height: 1.37;
}

input, optgroup, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    align-self: end;
}

form label {
    margin-bottom: 0.5rem;
    color: var(--color);
    padding-left: 0.75rem;
    display: inline-block;
    font-size: 1rem;
}

textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #343a40;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    transition: color 0.125s ease-in-out, background-color 0.125s ease-in-out, border-color 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
}

/*-------------------------------------------*\
		2.1 Custom Select
\*-------------------------------------------*/
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    line-height: 1.63;
    align-self: end;
    /* <option> pal */
    /* Remove focus outline */
    /* Remove IE arrow */
}
select option {
    color: inherit;
    background-color: var(--background-color);
}
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}

/*-------------------------------------------*\
		Bootstrap overrides
\*-------------------------------------------*/
.form-control::placeholder {
    color: var(--color);
    font-size: 0.85rem;
}

/*-------------------------------------------*\
		3.0 Inline forms
\*-------------------------------------------*/
.flow-form-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flow-form-inline label {
    padding-left: 0;
    margin-right: 0.75rem;
    margin-bottom: 0;
}
.flow-form-inline input {
    max-width: 66%;
    width: unset;
    align-self: stretch;
}

/*-------------------------------------------*\
		4.0 Helper classes
\*-------------------------------------------*/
/* use this class for stacking radio or checkboxes on top of each other */
.flow-radio-column {
    display: flex;
    flex-direction: column;
}
.flow-radio-column div {
    align-self: flex-start;
}

header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

h1 {
    color: var(--color);
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}
h1 i {
    position: relative;
    bottom: -3px;
    margin-right: 0.5rem;
}

article header h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-bottom: solid 1px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    article header h1 {
        font-size: 1rem;
    }
}
h2 {
    font-size: 1rem;
    color: var(--color);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
}

h3 {
    border-bottom: 1px solid var(--border-bottom-color);
    padding-bottom: 0.75rem;
    font-size: 1rem;
    color: var(--border-bottom-color);
}

h4 {
    margin: 1.5rem;
    font-size: 1rem;
    color: var(--color);
}
h4.subscript {
    font-size: 0.85rem;
    border-top: none;
}

h6 {
    margin: 0 1.5rem;
    color: var(--color);
    font-size: 0.85rem;
}

legend {
    position: absolute;
    box-sizing: border-box;
    left: 1rem;
    top: -22px;
    background-color: #448aff;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.15rem 0.5rem;
    width: fit-content;
    font-size: 0.65rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02rem;
}
legend i {
    position: relative;
    bottom: -3px;
    font-size: 0.85rem;
    margin-right: 0.5rem;
}

fieldset legend {
    top: -21px;
}

main {
    margin: 0.75rem 0.75rem 5rem 0.75rem;
    overflow-x: hidden;
    background-color: var(--background);
    border-radius: 0.25rem;
    padding: 0.75rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
    main {
        margin: 2rem 2rem 2rem 7rem;
        padding: 2rem;
    }
}
navigation {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #1a1939;
    color: #fff;
    height: 4rem;
    z-index: 666;
}

nav {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul.nav-top {
    display: flex;
    flex-direction: row;
}
nav ul.nav-top li.nav-item a.active, nav ul.nav-top li.nav-item a {
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
nav ul.nav-top li.nav-item a.active p, nav ul.nav-top li.nav-item a p {
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
}
nav ul.nav-top li.nav-item a.active:hover, nav ul.nav-top li.nav-item a:hover {
    background-color: #6e3dc8;
}
nav ul.nav-top li.nav-item a.active:hover i, nav ul.nav-top li.nav-item a:hover i {
    color: #fff;
}
nav ul.nav-top li.nav-item a.active {
    background-color: #1eaaf1;
}
nav .nav-version-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    border-left: 1px solid #6e3dc8;
    padding: 0.1rem 0.1rem 0.1rem 0.5rem;
    margin: 0.25rem;
}
nav .nav-version-block small {
    font-size: 0.6rem;
}

@media (min-width: 768px) {
    navigation {
        position: fixed;
        top: 0;
        right: unset;
        width: 5rem;
    }
    nav {
        background-color: #1a1939;
        height: 100vh;
        width: 100%;
        flex-direction: column;
    }
    nav ul.nav-top {
        flex-direction: column;
    }
    nav ul.nav-top li.nav-item a.active, nav ul.nav-top li.nav-item a {
        height: 5rem;
        width: 5rem;
    }
    nav .nav-version-block {
        border-top: 1px solid #6e3dc8;
        border-left: 0;
        padding: 0.5rem 0.1rem 0.1rem 0.1rem;
        margin: 0.25rem auto 0.5rem auto;
    }
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav ul > li {
    /*height: $unit-base * 4;
    width: $unit-base * 4;*/
    cursor: pointer;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, transform 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul > li a > i {
    display: block;
    color: var(--color);
    font-size: 1.5rem;
    transition: color 0.125s ease-in-out, background-color 0.125s ease-in-out, border-color 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
}
nav ul > li a:hover {
    background-color: var(--background-color);
}
nav ul > li a.active {
    background-color: var(--background-color);
}
nav ul > li a.active > i {
    color: var(--text-color);
}

@media (min-width: 768px) {
    nav ul, nav.flow-right ul {
        flex-direction: column;
    }
    nav.flow-left ul {
        flex-direction: column;
    }
}
nav ul > li > a > .popout {
    display: none;
    position: absolute;
    width: fit-content;
    padding: 0.75rem;
    visibility: hidden;
    z-index: 8;
    border-radius: 0.25rem;
    color: var(--color);
    background-color: var(--background-color);
    animation: 250ms fadeOutPopout;
    font-size: 0.85rem;
}
nav ul > li > a > .popout:before {
    content: "";
    display: block;
    position: absolute;
    width: 0.75rem;
    height: 1.25rem;
    transform: rotate(45deg);
    background-color: inherit;
    z-index: -1;
}
nav ul > li > a > .popout > li:hover > .popout, nav ul > li > a > .popout .popout:hover {
    animation: 500ms fadeInPopout;
    animation-fill-mode: forwards;
}

@media (min-width: 768px) {
    nav ul > li > a > .popout {
        display: unset;
    }
    nav ul > li > a > .popout, nav.nav-left ul > li > a > .popout {
        left: 6rem;
        margin-top: 0;
    }
    nav ul > li > a > .popout:before, nav.nav-left ul > li > a > .popout:before {
        left: -0.25rem;
    }
    nav.nav-bottom ul > li > a > .popout {
        left: unset;
        bottom: 6rem;
        margin-top: 0;
    }
    nav.nav-bottom ul > li > a > .popout:before {
        left: unset;
        bottom: -0.5rem;
        left: 50%;
    }
    nav.nav-bottom ul > li > a > .popout ul:first-of-type > li:first-of-type > .popout {
        text-align: left;
        left: 1rem;
    }
    nav.nav-bottom ul > li > a > .popout ul:first-of-type > li:first-of-type > .popout:before {
        left: 25%;
    }
    nav.nav-bottom ul > li > a > .popout ul:last-of-type > li:last-of-type > .popout {
        text-align: right;
        left: unset;
        right: 1rem;
    }
    nav.nav-bottom ul > li > a > .popout ul:last-of-type > li:last-of-type > .popout:before {
        left: unset;
        right: 25%;
    }
}
/*---------------------------------------------------*\
   Pop-out labels for sidebar navigation
\*---------------------------------------------------*/
nav li a:hover > .popout, nav a .popout:hover {
    animation: 500ms fadeInPopout;
    animation-fill-mode: forwards;
}

/*---------------------------------------------------*\
   Pop-out label fade in and out animations
\*---------------------------------------------------*/
@keyframes fadeInPopout {
    0% {
        opacity: 0;
    }
    100% {
        visibility: inherit;
        opacity: 1;
    }
}
@keyframes fadeOutPopout {
    0% {
        opacity: 1;
        visibility: inherit;
    }
    100% {
        opacity: 0;
    }
}
nav ul li.scu-logo > i {
    font-size: 2.5rem;
    background: linear-gradient(90deg, rgb(250, 60, 45) 0%, rgb(250, 60, 45) 35%, rgb(49, 182, 122) 35%, rgb(49, 182, 122) 50%, rgb(49, 182, 122) 65%, rgb(53, 41, 255) 65%, rgb(53, 41, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul li.scu-logo:hover {
    background-color: var(--background-color);
}

p {
    color: var(--color);
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1.5rem;
}

p.flow-explanantion {
    color: var(--color);
}

section section {
    padding: 0;
    margin-top: 1rem;
}
section section section {
    border: 1px solid var(--border-color);
    padding: 1rem;
}

/*-------------------------------------------*\
	1.1 DataTable overrides
\*-------------------------------------------*/
.dataTables_wrapper .dataTables_filter {
    margin: 1rem 0 1rem 0;
    text-align: right;
}

*:not(.dataTables_wrapper) table {
    padding: 0;
}

.dataTables_wrapper table {
    margin-bottom: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    /* Show ## entries per page */
    /* Search */
}
.dataTables_wrapper table thead th {
    text-transform: uppercase;
    font-size: 0.85rem;
    vertical-align: middle;
    height: 2.5rem;
}
.dataTables_wrapper table div.dataTables_length {
    background-color: #fff;
    padding: unset;
    margin: 1rem 0 1rem 1rem;
}
.dataTables_wrapper table div.dataTables_length label {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}
.dataTables_wrapper table div.dataTables_length label select {
    margin: 0 0.75rem;
    width: 4rem;
    background-color: var(--background-color);
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
}
.dataTables_wrapper table .dataTables_filter {
    margin: 1rem 1rem 1rem 0;
}
.dataTables_wrapper table .dataTables_filter label {
    padding-right: 0;
    margin-left: 0;
    font-size: 1rem !important;
}
.dataTables_wrapper table .dataTables_filter label input {
    margin-left: 1rem;
    background-color: var(--background-color);
    border-radius: 0.25rem;
    border: 0;
    padding: 0.5rem;
    width: unset;
    display: unset;
}

:root table tbody tr:nth-child(odd), .table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: var(--background-color);
    vertical-align: middle;
}

:root table tbody tr:nth-child(even), .table-striped > tbody > tr:nth-of-type(even) > * {
    background-color: var(--background-color);
    vertical-align: middle;
}

:root table tbody tr th, :root table tbody tr td {
    border-right-color: var(--border-right-color);
}

.table-bordered > :not(caption) > * > * {
    border-width: 1px;
    border-color: var(--border-color);
}

table tbody tr:last-of-type th, table tbody tr:last-of-type td {
    border-bottom: 0 !important;
}

:root table tbody tr:hover {
    background-color: var(--background-color);
}

/*-------------------------------------------*\
  1.2 DataTables Pagination Overrides
\*-------------------------------------------*/
.dataTables_wrapper .dataTables_info {
    margin-top: 1rem;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.dataTables_wrapper .dataTables_paginate a {
    padding: 0.5rem;
    border: 1px solid var(--border);
    text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate a.previous {
    border-radius: 0.25rem;
}

.dataTables_wrapper .dataTables_paginate a.current {
    border: 0;
    padding: 9px 1rem;
}

.dataTables_wrapper .dataTables_paginate a.next {
    border-radius: 0.25rem;
}

/*-------------------------------------------*\
  1.0 BASE: Main table classes
  These are general styles for common
  components of the table.
  Here we define things like the typography
  for the THEAD, TD and TFOOT
\*-------------------------------------------*/
*:not(.dataTables_wrapper) table {
    padding: 1.5rem;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    color: var(--color);
    border-radius: 0.25rem;
    width: 100% !important;
}
table caption {
    margin-left: 0.75rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--color);
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: left;
    width: 50%;
    font-size: 0.85rem;
    border-bottom: 0;
}
table caption code {
    color: var(--color);
}
table thead {
    color: var(--color);
    background-color: var(--background-color);
}
table thead th, table thead td {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 0.025rem;
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-right-color: var(--border-color-right) !important;
    border-bottom: 2px solid var(--border-color) !important;
}
table thead td:last-of-type {
    border-right: none !important;
}
table tbody tr:nth-child(odd) {
    background-color: var(--background-color) !important;
}
table tbody tr:nth-child(even) {
    background-color: var(--background-color) !important;
}
table tbody tr:hover {
    background-color: var(--background-color) !important;
}
table tbody tr th, table tbody tr td {
    padding: 0.5rem;
    letter-spacing: -0.01rem;
    font-size: 1rem;
}
table tbody tr:last-of-type th, table tbody tr:last-of-type td {
    border-bottom: 2px solid var(--border-color-bottom) !important;
}
table tfoot {
    background-color: var(--background-color);
    color: var(--color);
}
table tfoot th, table tfoot td {
    border-top: 0;
    padding: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    font-weight: bold;
    border-top: none !important;
}

/*-------------------------------------------*\
  1.0 Table sizes

  These classes define mainly the height
  table rows.

  - Table Small
  - Table Medium
  - Table Large
\*-------------------------------------------*/
/* Table Small (24px height) */
table.flow-small thead th, table.flow-small thead td {
    height: 1rem;
}
table.flow-small tbody tr th, table.flow-small tbody tr td {
    height: 0.5rem;
}
table.flow-small tfoot th, table.flow-small tfoot td {
    height: 1rem;
}

/* Table Medium (48px height) */
table thead th, table thead td {
    height: 2rem;
}
table tbody tr th, table tbody tr td {
    height: 1.5rem;
}
table tfoot th, table tfoot td {
    height: 2rem;
}

/* Table Large (64px height) */
/* For use on large displays or for better touch area on mobile */
table.flow-large thead th, table.flow-large thead td {
    height: 3rem;
    font-size: 1rem;
}
table.flow-large tbody tr th, table.flow-large tbody tr td {
    height: 2.5rem;
    font-size: 1rem;
}
table.flow-large tfoot th, table.flow-large tfoot td {
    height: 3rem;
    font-size: 1rem;
}

/*-------------------------------------------*\
  1.0 Helpers

  - Table header (contains extra info)
  - TD alignment classes
\*-------------------------------------------*/
.flow-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 0.25rem;
}
.flow-table-header h4 {
    color: var(--color);
    margin: 0;
}
.flow-table-header .subscript {
    margin-top: 0.5rem;
    color: var(--color);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
}
.flow-table-header div:last-of-type {
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--background-color);
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.flow-table-header div:last-of-type i {
    position: absolute;
    top: 6px;
}

/* helper classes */
tr.flow-left, th.flow-left, td.flow-left {
    text-align: left;
}
tr.flow-center, th.flow-center, td.flow-center {
    text-align: center;
}
tr.flow-right, th.flow-right, td.flow-right {
    text-align: right;
}

ul {
    color: var(--color);
    line-height: 1.6rem;
    margin: 1.5rem;
    padding-left: 2rem;
    /* li:before {
        content: "\f00c";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
      } */
}
ul ul {
    margin: 0.5rem;
}

.flow-background {
    background: var(--background);
}

.flow-background-darker {
    background: var(--background);
}

.flow-centering {
    display: grid;
    place-items: center;
}

.flow-panel {
    color: var(--color);
    background-color: var(--background-color);
    border-color: var(--border-color);
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;
}

/*-------------------------------------------*\
  1.0 Helper and example classes
\*-------------------------------------------*/
.component-container {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    border: 1px solid #adb5bd;
    margin: 1rem;
    overflow: hidden;
}
.component-container .component-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #adb5bd;
    background-color: white;
    padding: 0.75rem;
    position: relative;
}
.component-container .component-container-header i {
    font-size: 1rem;
    position: absolute;
    top: 12px;
}
.info-panel {
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #448aff;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

/*-------------------------------------------*\
  2.0 Frontify Helpers
\*-------------------------------------------*/
.flow-panel-presentation {
    padding: 1rem;
}

/*-------------------------------------------*\
		1.1 Mobile first grid (1 column)
\*-------------------------------------------*/
.flow-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.flow-row div {
    /* column span reset so last children of DIVs stretch properly */
}
.flow-row div.flow-col-2, .flow-row div.flow-col-3, .flow-row div.flow-col-4 {
    grid-column: span 1;
}

/*-------------------------------------------*\
		1.2 Tablet grid (2 columns)
\*-------------------------------------------*/
@media (min-width: 768px) {
    .flow-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .flow-row div {
        /* optional class to make objects span multiple columns */
    }
    .flow-row div.flow-col-2 {
        grid-column: span 2;
    }
    .flow-row div.flow-col-3 {
        grid-column: span 3;
    }
    .flow-row div.flow-col-4 {
        grid-column: span 4;
    }
}
/*-------------------------------------------*\
		1.3 Tablet grid (4 columns)
\*-------------------------------------------*/
@media (min-width: 1280px) {
    .flow-row {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*-------------------------------------------*\
		1.4 Force grid on to flow root in
		case of a lot of asides
\*-------------------------------------------*/
.--success {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--color);
}

.--warning {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--color);
}

.--error {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--color);
}

/* Flow icon family */
/* Flow fonts */
/* Flow styling */

/*# sourceMappingURL=flow.css.map */
