//footer {
//  padding: 1rem;
//  border-top: 2px solid #0a53be;
//  width: 100%;
//  margin-top: auto;
//  margin-right: -1rem;
//  margin-bottom: -1rem;
//  margin-left: -1rem;
//}
//
//.flow-card {
//  height: 800px;
//}
//
//html, body, .flow-login {
//  height: 100vh;
//}
//
//body {
//  background: linear-gradient(to top, rgba(0, 56, 255, 0.5), rgba(68, 138, 255, 0)), url("../assets/terminal-01--001.jpg")!important;
//  background-repeat: no-repeat, no-repeat!important;
//  background-position: center center, center center!important;
//  background-size: cover, cover!important;
//}
//
//.flow-login {
//  background-color: #0a58ca;
//}
//
//.login-container__panel {
//  background-color: rgba(26, 25, 57, 0.5);
//  height: 100%;
//  -webkit-backdrop-filter: blur(8px);
//  backdrop-filter: blur(8px);
//  padding: 4rem;
//
//  .login__logo {
//    width: 140px;
//  }
//
//  .login-container__content {
//
//    h1 {
//      color: #fff;
//      text-transform: uppercase;
//      font-size: 1rem;
//      letter-spacing: 1px;
//      padding-bottom: 0.5rem;
//      border-bottom: 1px solid #448AFF;
//    }
//  }
//
//  .login-container__language {
//
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-content: space-between;
//    align-items: center;
//
//    .copyright {
//      font-size: 0.75rem;
//      color: #fff;
//    }
//  }
//}
//
//.quote-container {
//
//  margin-left: 4rem;
//  font-family: "gt-walsheim-light", sans-serif;
//  font-size: 5rem;
//  line-height: 5rem;
//  color: #fff;
//  text-transform: uppercase;
//
//  .quote-row__01 {
//
//    font-size: 7rem;
//    line-height: 6rem;
//
//    .quote-row__01-highlight {
//      font-family: "gt-walsheim-bold", sans-serif;
//      color: #3529FF;
//    }
//  }
//
//  .quote-row__02 {
//    font-size: 3rem;
//    letter-spacing: 2px;
//    font-family: "gt-walsheim-bold", sans-serif;
//  }
//}


html, body {
  height: 100vh!important;
}

body {
  //background: linear-gradient(to top, rgba(0, 56, 255, 0.5), rgba(68, 138, 255, 0)), url("../assets/terminal-01--001.jpg")!important;
  //background-repeat: no-repeat, no-repeat!important;
  //background-position: center center, center center!important;
  //background-size: cover, cover!important;
}


.box {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  width: 512px;
  height: 512px;

  .drasz {
    width: 128px;
    margin: 0 auto;
  }

  div {
    font-family: "gt-walsheim-bold", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.flow-login {
  background-color: #0a58ca;
}

.btn-link--inverted {
  color: #fff;

  &:hover:not(:disabled) {
    color: #fff;
    background-color: rgb(69, 20, 148, 0.5);
    border-color: rgb(69, 20, 148, 0.5);
  }
}

/* BG SLIDESHOW CSS */
ul.slideshow {
  margin: 0;
}

.slideshow,
.slideshow::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
}

.slideshow::after {
  content: '';
  background: linear-gradient(-70deg, rgba(0, 56, 255, 0.75), rgba(68, 138, 255, 0.25));
}

.img-bg-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent; /*hides span's text*/
  background-size: cover; /* covers whole viewport */
  background-position: 100% 100%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: backgroundSlideshow 20s linear infinite 0s;
}

.slideshow li:nth-child(1) .img-bg-slide {
  background-image: url('../assets/terminal-01--001.jpg');
}
.slideshow li:nth-child(2) .img-bg-slide {
  background-image: url('../assets/terminal-01--002.jpg');
  animation-delay: 5s;
}
.slideshow li:nth-child(3) .img-bg-slide {
  background-image: url('../assets/terminal-01--003.jpg');
  animation-delay: 10s;
}
.slideshow li:nth-child(4) .img-bg-slide {
  background-image: url('../assets/terminal-01--004.jpg');
  animation-delay: 15s;
}

@keyframes backgroundSlideshow {
  0% { opacity: 0;}
  12.5% { opacity: 1;}
  25% { opacity: 1;}
  37.5% { opacity: 0;}
  100% { opacity: 0;}
}
/* End of BG SLIDESHOW 02 */

/* BG SLIDESHOW CSS */
ul.slideshow-02 {
  margin: 0;
}

.slideshow-02,
.slideshow-02::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
}

.slideshow-02::after {
  content: '';
  background: linear-gradient(-70deg, rgba(0, 56, 255, 0.5), rgba(68, 138, 255, 0));
}

.img-bg-slide-02 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent; /*hides span's text*/
  background-size: cover; /* covers whole viewport */
  background-position: 100% 100%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: backgroundSlideshow 20s linear infinite 0s;
}

.slideshow-02 li:nth-child(1) .img-bg-slide-02 {
  background-image: url('../assets/terminal-02--001.jpg');
}
.slideshow-02 li:nth-child(2) .img-bg-slide-02 {
  background-image: url('../assets/terminal-02--002.jpg');
  animation-delay: 5s;
}
.slideshow-02 li:nth-child(3) .img-bg-slide-02 {
  background-image: url('../assets/terminal-02--003.jpg');
  animation-delay: 10s;
}
.slideshow-02 li:nth-child(4) .img-bg-slide-02 {
  background-image: url('../assets/terminal-02--004.jpg');
  animation-delay: 15s;
}

@keyframes backgroundSlideshow {
  0% { opacity: 0;}
  12.5% { opacity: 1;}
  25% { opacity: 1;}
  37.5% { opacity: 0;}
  100% { opacity: 0;}
}
/* End of BG SLIDESHOW */


/* Main login container panel */
.login-container__panel {
  background-color: rgba(26, 25, 57, 0.5);
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 1rem;

  .login__logo {
    width: 100px;
  }

  .login-container__content {

    .login__welcome-text {
      color: #fff;
      font-family: "gt-walsheim-bold", sans-serif;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;

      span {
        font-family: "gt-walsheim-light", sans-serif;
      }
    }

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1px;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #448AFF;
    }
  }

  .login-container__language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .copyright {
      font-size: 0.75rem;
      color: #fff;
    }
  }
}

/* Quote container */
.quote-container {
  display: none;
}

@media (min-width: 992px) {

  .login-container__panel {
    padding: 3rem;

    .login-container__logo {
      display: flex;
      flex-direction: row;
      justify-content: end;

      .login__logo {
        width: 160px;
      }
    }
  }

  .quote-container {
      font-family: "gt-walsheim-light", sans-serif;
      font-size: 5rem;
      line-height: 5rem;
      color: #fff;
      text-transform: uppercase;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 4rem;
      align-items: end;

      .bigboldtext {
        width: 33vw;
        opacity: 0.5;
      }

    .quote {
      padding: 2rem;
      background-color: rgba(26, 25, 57, 0.5);
      border-radius: 0.25rem 0 0 0.25rem;

      .quote-row__01 {
        font-size: 6rem;
        line-height: 5rem;

        .quote-row__01-highlight {
          font-family: "gt-walsheim-bold", sans-serif;
          //color: #3529FF;
          //color: #451494;
          color: #fff;
        }
      }

      .quote-row__02 {
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: "gt-walsheim-bold", sans-serif;
      }
    }
  }
}