html, body {
  height: 100vh !important;
}

.box {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  width: 512px;
  height: 512px;
}
.box .drasz {
  width: 128px;
  margin: 0 auto;
}
.box div {
  font-family: "gt-walsheim-bold", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.flow-login {
  background-color: #0a58ca;
}

.btn-link--inverted {
  color: #fff;
}
.btn-link--inverted:hover:not(:disabled) {
  color: #fff;
  background-color: rgba(69, 20, 148, 0.5);
  border-color: rgba(69, 20, 148, 0.5);
}

/* BG SLIDESHOW CSS */
ul.slideshow {
  margin: 0;
}

.slideshow,
.slideshow::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
}

.slideshow::after {
  content: "";
  background: linear-gradient(-70deg, rgba(0, 56, 255, 0.75), rgba(68, 138, 255, 0.25));
}

.img-bg-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent; /*hides span's text*/
  background-size: cover; /* covers whole viewport */
  background-position: 100% 100%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-animation: backgroundSlideshow 20s linear infinite 0s;
          animation: backgroundSlideshow 20s linear infinite 0s;
}

.slideshow li:nth-child(1) .img-bg-slide {
  background-image: url("../assets/terminal-01--001.jpg");
}

.slideshow li:nth-child(2) .img-bg-slide {
  background-image: url("../assets/terminal-01--002.jpg");
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slideshow li:nth-child(3) .img-bg-slide {
  background-image: url("../assets/terminal-01--003.jpg");
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slideshow li:nth-child(4) .img-bg-slide {
  background-image: url("../assets/terminal-01--004.jpg");
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes backgroundSlideshow {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundSlideshow {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* End of BG SLIDESHOW 02 */
/* BG SLIDESHOW CSS */
ul.slideshow-02 {
  margin: 0;
}

.slideshow-02,
.slideshow-02::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
}

.slideshow-02::after {
  content: "";
  background: linear-gradient(-70deg, rgba(0, 56, 255, 0.5), rgba(68, 138, 255, 0));
}

.img-bg-slide-02 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent; /*hides span's text*/
  background-size: cover; /* covers whole viewport */
  background-position: 100% 100%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-animation: backgroundSlideshow 20s linear infinite 0s;
          animation: backgroundSlideshow 20s linear infinite 0s;
}

.slideshow-02 li:nth-child(1) .img-bg-slide-02 {
  background-image: url("../assets/terminal-02--001.jpg");
}

.slideshow-02 li:nth-child(2) .img-bg-slide-02 {
  background-image: url("../assets/terminal-02--002.jpg");
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slideshow-02 li:nth-child(3) .img-bg-slide-02 {
  background-image: url("../assets/terminal-02--003.jpg");
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slideshow-02 li:nth-child(4) .img-bg-slide-02 {
  background-image: url("../assets/terminal-02--004.jpg");
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@keyframes backgroundSlideshow {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* End of BG SLIDESHOW */
/* Main login container panel */
.login-container__panel {
  background-color: rgba(26, 25, 57, 0.5);
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 1rem;
}
.login-container__panel .login__logo {
  width: 100px;
}
.login-container__panel .login-container__content .login__welcome-text {
  color: #fff;
  font-family: "gt-walsheim-bold", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.login-container__panel .login-container__content .login__welcome-text span {
  font-family: "gt-walsheim-light", sans-serif;
}
.login-container__panel .login-container__content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #448AFF;
}
.login-container__panel .login-container__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-container__panel .login-container__language .copyright {
  font-size: 0.75rem;
  color: #fff;
}

/* Quote container */
.quote-container {
  display: none;
}

@media (min-width: 992px) {
  .login-container__panel {
    padding: 3rem;
  }
  .login-container__panel .login-container__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .login-container__panel .login-container__logo .login__logo {
    width: 160px;
  }
  .quote-container {
    font-family: "gt-walsheim-light", sans-serif;
    font-size: 5rem;
    line-height: 5rem;
    color: #fff;
    text-transform: uppercase;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 4rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .quote-container .bigboldtext {
    width: 33vw;
    opacity: 0.5;
  }
  .quote-container .quote {
    padding: 2rem;
    background-color: rgba(26, 25, 57, 0.5);
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .quote-container .quote .quote-row__01 {
    font-size: 6rem;
    line-height: 5rem;
  }
  .quote-container .quote .quote-row__01 .quote-row__01-highlight {
    font-family: "gt-walsheim-bold", sans-serif;
    color: #fff;
  }
  .quote-container .quote .quote-row__02 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: "gt-walsheim-bold", sans-serif;
  }
}