<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p class="cart-attribute__field">
                <p>Voor onze social media willen wij graag je toestemming om jouw kunstwerk te tonen. Voor meer informatie kun je <a href="#">hier</a> onze algemene voorwaarden bekijken.</p>
                <input type="hidden" name="attributes[Do you agree in us using your end result on our social media'?]" value="No">
                <input type="checkbox" name="attributes[Do you agree in us using your end result on our social media'?]" value="Yes"{% if cart.attributes["Do you agree in us using your end result on our social media'?"] == "Yes" %} checked{% endif %}>
                <label>Ja, ik geef toestemming om mijn design(s) op social media te plaatsen</label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card flow-card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body d-flex align-items-start flex-column">
                    <form>
                    <div class="row mt-3">

                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label>label</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label>label</label>
                                    <input type="text">
                                </div>
                            </div>
                    </div>
                    <div class="row mt-3">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label>label</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label>label</label>
                                    <input type="text">
                                </div>
                            </div>
                    </div>
                    </form>
                    <footer class="">
                        <button class="btn btn-primary">save</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>