.icon-regular--404:before {
    content: "\f101";
}
.icon-regular--academy:before {
    content: "\f102";
}
.icon-regular--activated:before {
    content: "\f103";
}
.icon-regular--airplane:before {
    content: "\f104";
}
.icon-regular--apps:before {
    content: "\f105";
}
.icon-regular--arrow-double-left:before {
    content: "\f106";
}
.icon-regular--arrow-double-right:before {
    content: "\f107";
}
.icon-regular--arrow-down:before {
    content: "\f108";
}
.icon-regular--arrow-left:before {
    content: "\f109";
}
.icon-regular--arrow-right:before {
    content: "\f10a";
}
.icon-regular--arrow-up:before {
    content: "\f10b";
}
.icon-regular--award:before {
    content: "\f10c";
}
.icon-regular--barcode:before {
    content: "\f10d";
}
.icon-regular--basket:before {
    content: "\f10e";
}
.icon-regular--berth:before {
    content: "\f10f";
}
.icon-regular--blend-new:before {
    content: "\f110";
}
.icon-regular--blend:before {
    content: "\f111";
}
.icon-regular--bullet-point:before {
    content: "\f112";
}
.icon-regular--bulls-eye:before {
    content: "\f113";
}
.icon-regular--calculator:before {
    content: "\f114";
}
.icon-regular--calendar:before {
    content: "\f115";
}
.icon-regular--calender-undo:before {
    content: "\f116";
}
.icon-regular--camera:before {
    content: "\f117";
}
.icon-regular--caret-right:before {
    content: "\f118";
}
.icon-regular--caret-down:before {
    content: "\f119";
}
.icon-regular--caret-left:before {
    content: "\f11a";
}
.icon-regular--caret-up:before {
    content: "\f11b";
}
.icon-regular--chat_1:before {
    content: "\f11c";
}
.icon-regular--chat:before {
    content: "\f11d";
}
.icon-regular--checkbox-checked:before {
    content: "\f11e";
}
.icon-regular--checkbox-empty:before {
    content: "\f11f";
}
.icon-regular--checklist:before {
    content: "\f120";
}
.icon-regular--checkmark-circle:before {
    content: "\f121";
}
.icon-regular--checkmark:before {
    content: "\f122";
}
.icon-regular--clear:before {
    content: "\f123";
}
.icon-regular--client-relations-new:before {
    content: "\f124";
}
.icon-regular--client-relations:before {
    content: "\f125";
}
.icon-regular--clock:before {
    content: "\f126";
}
.icon-regular--cloud:before {
    content: "\f127";
}
.icon-regular--code:before {
    content: "\f128";
}
.icon-regular--coffee-club:before {
    content: "\f129";
}
.icon-regular--collapse:before {
    content: "\f12a";
}
.icon-regular--container-lafette:before {
    content: "\f12b";
}
.icon-regular--container-rdco:before {
    content: "\f12c";
}
.icon-regular--container:before {
    content: "\f12d";
}
.icon-regular--core-atom:before {
    content: "\f12e";
}
.icon-regular--core:before {
    content: "\f12f";
}
.icon-regular--danger:before {
    content: "\f130";
}
.icon-regular--de-activate:before {
    content: "\f131";
}
.icon-regular--deactivated:before {
    content: "\f132";
}
.icon-regular--disabled:before {
    content: "\f133";
}
.icon-regular--document-dollar:before {
    content: "\f134";
}
.icon-regular--document-euro-new:before {
    content: "\f135";
}
.icon-regular--document-euro:before {
    content: "\f136";
}
.icon-regular--document-new:before {
    content: "\f137";
}
.icon-regular--document:before {
    content: "\f138";
}
.icon-regular--documentation-specification:before {
    content: "\f139";
}
.icon-regular--download-document:before {
    content: "\f13a";
}
.icon-regular--download:before {
    content: "\f13b";
}
.icon-regular--earth-globe:before {
    content: "\f13c";
}
.icon-regular--edit:before {
    content: "\f13d";
}
.icon-regular--email:before {
    content: "\f13e";
}
.icon-regular--enterprise:before {
    content: "\f13f";
}
.icon-regular--expand:before {
    content: "\f140";
}
.icon-regular--eye:before {
    content: "\f141";
}
.icon-regular--faq:before {
    content: "\f142";
}
.icon-regular--file-upload:before {
    content: "\f143";
}
.icon-regular--filter:before {
    content: "\f144";
}
.icon-regular--flag:before {
    content: "\f145";
}
.icon-regular--flowmeter:before {
    content: "\f146";
}
.icon-regular--folder:before {
    content: "\f147";
}
.icon-regular--garbage-can:before {
    content: "\f148";
}
.icon-regular--glossary:before {
    content: "\f149";
}
.icon-regular--graph-bars:before {
    content: "\f14a";
}
.icon-regular--graph-up:before {
    content: "\f14b";
}
.icon-regular--graph:before {
    content: "\f14c";
}
.icon-regular--grid:before {
    content: "\f14d";
}
.icon-regular--hamburger-menu-add:before {
    content: "\f14e";
}
.icon-regular--hamburger-menu:before {
    content: "\f14f";
}
.icon-regular--handheld-rugged:before {
    content: "\f150";
}
.icon-regular--handshake:before {
    content: "\f151";
}
.icon-regular--heart:before {
    content: "\f152";
}
.icon-regular--help_1:before {
    content: "\f153";
}
.icon-regular--help:before {
    content: "\f154";
}
.icon-regular--home:before {
    content: "\f155";
}
.icon-regular--hourglass:before {
    content: "\f156";
}
.icon-regular--id-card:before {
    content: "\f157";
}
.icon-regular--index:before {
    content: "\f158";
}
.icon-regular--information:before {
    content: "\f159";
}
.icon-regular--issue:before {
    content: "\f15a";
}
.icon-regular--lamp:before {
    content: "\f15b";
}
.icon-regular--layers:before {
    content: "\f15c";
}
.icon-regular--lightning-flash:before {
    content: "\f15d";
}
.icon-regular--line-arrow-down:before {
    content: "\f15e";
}
.icon-regular--line-arrow-left:before {
    content: "\f15f";
}
.icon-regular--line-arrow-right:before {
    content: "\f160";
}
.icon-regular--line-arrow-up:before {
    content: "\f161";
}
.icon-regular--loading-unloading:before {
    content: "\f162";
}
.icon-regular--loading:before {
    content: "\f163";
}
.icon-regular--location-new:before {
    content: "\f164";
}
.icon-regular--location:before {
    content: "\f165";
}
.icon-regular--lock:before {
    content: "\f166";
}
.icon-regular--log-in:before {
    content: "\f167";
}
.icon-regular--log-out:before {
    content: "\f168";
}
.icon-regular--measured-weight:before {
    content: "\f169";
}
.icon-regular--medal:before {
    content: "\f16a";
}
.icon-regular--moon_1:before {
    content: "\f16b";
}
.icon-regular--moon:before {
    content: "\f16c";
}
.icon-regular--mot-barge:before {
    content: "\f16d";
}
.icon-regular--mot-push-barge:before {
    content: "\f16e";
}
.icon-regular--mot-ship-gis:before {
    content: "\f16f";
}
.icon-regular--mot-truck-ship:before {
    content: "\f170";
}
.icon-regular--move:before {
    content: "\f171";
}
.icon-regular--notification-off:before {
    content: "\f172";
}
.icon-regular--notification:before {
    content: "\f173";
}
.icon-regular--on-board-unit:before {
    content: "\f174";
}
.icon-regular--open-new-window:before {
    content: "\f175";
}
.icon-regular--overflow-menu:before {
    content: "\f176";
}
.icon-regular--overview:before {
    content: "\f177";
}
.icon-regular--paste-board-ok:before {
    content: "\f178";
}
.icon-regular--paste-board:before {
    content: "\f179";
}
.icon-regular--pipe:before {
    content: "\f17a";
}
.icon-regular--placeholder:before {
    content: "\f17b";
}
.icon-regular--plant:before {
    content: "\f17c";
}
.icon-regular--plus:before {
    content: "\f17d";
}
.icon-regular--pokeball:before {
    content: "\f17e";
}
.icon-regular--printer:before {
    content: "\f17f";
}
.icon-regular--process-step:before {
    content: "\f180";
}
.icon-regular--product-new:before {
    content: "\f181";
}
.icon-regular--product-split:before {
    content: "\f182";
}
.icon-regular--product:before {
    content: "\f183";
}
.icon-regular--rail-to-ship:before {
    content: "\f184";
}
.icon-regular--railcar:before {
    content: "\f185";
}
.icon-regular--refresh:before {
    content: "\f186";
}
.icon-regular--reservation-new:before {
    content: "\f187";
}
.icon-regular--resize-inputfield:before {
    content: "\f188";
}
.icon-regular--rocket:before {
    content: "\f189";
}
.icon-regular--roof-correction:before {
    content: "\f18a";
}
.icon-regular--ruler:before {
    content: "\f18b";
}
.icon-regular--save:before {
    content: "\f18c";
}
.icon-regular--seal-ribbon:before {
    content: "\f18d";
}
.icon-regular--seal-tag:before {
    content: "\f18e";
}
.icon-regular--seal:before {
    content: "\f18f";
}
.icon-regular--search-user:before {
    content: "\f190";
}
.icon-regular--search:before {
    content: "\f191";
}
.icon-regular--security-token:before {
    content: "\f192";
}
.icon-regular--service-order-new:before {
    content: "\f193";
}
.icon-regular--service-order:before {
    content: "\f194";
}
.icon-regular--service-station:before {
    content: "\f195";
}
.icon-regular--settings:before {
    content: "\f196";
}
.icon-regular--shell-correction:before {
    content: "\f197";
}
.icon-regular--ship-bunker:before {
    content: "\f198";
}
.icon-regular--ship-unload:before {
    content: "\f199";
}
.icon-regular--ship:before {
    content: "\f19a";
}
.icon-regular--shop:before {
    content: "\f19b";
}
.icon-regular--shopping-cart:before {
    content: "\f19c";
}
.icon-regular--sign:before {
    content: "\f19d";
}
.icon-regular--smile:before {
    content: "\f19e";
}
.icon-regular--sort-ascending:before {
    content: "\f19f";
}
.icon-regular--sort-descending:before {
    content: "\f1a0";
}
.icon-regular--sort-empty:before {
    content: "\f1a1";
}
.icon-regular--star-trek:before {
    content: "\f1a2";
}
.icon-regular--star:before {
    content: "\f1a3";
}
.icon-regular--stopwatch:before {
    content: "\f1a4";
}
.icon-regular--strapping-table:before {
    content: "\f1a5";
}
.icon-regular--sun_1:before {
    content: "\f1a6";
}
.icon-regular--sun:before {
    content: "\f1a7";
}
.icon-regular--support-ticket:before {
    content: "\f1a8";
}
.icon-regular--support:before {
    content: "\f1a9";
}
.icon-regular--system-status:before {
    content: "\f1aa";
}
.icon-regular--tablet:before {
    content: "\f1ab";
}
.icon-regular--tank-levels:before {
    content: "\f1ac";
}
.icon-regular--tank-to-tank:before {
    content: "\f1ad";
}
.icon-regular--tank:before {
    content: "\f1ae";
}
.icon-regular--telephone:before {
    content: "\f1af";
}
.icon-regular--thumbs-down:before {
    content: "\f1b0";
}
.icon-regular--thumbs-up:before {
    content: "\f1b1";
}
.icon-regular--time-undo:before {
    content: "\f1b2";
}
.icon-regular--timesheet:before {
    content: "\f1b3";
}
.icon-regular--truck-and-trailer:before {
    content: "\f1b4";
}
.icon-regular--truck-driver:before {
    content: "\f1b5";
}
.icon-regular--truck-hanger:before {
    content: "\f1b6";
}
.icon-regular--truck-tractor:before {
    content: "\f1b7";
}
.icon-regular--truck-trailer:before {
    content: "\f1b8";
}
.icon-regular--truck-vehicle:before {
    content: "\f1b9";
}
.icon-regular--tutorials:before {
    content: "\f1ba";
}
.icon-regular--undo:before {
    content: "\f1bb";
}
.icon-regular--unloading:before {
    content: "\f1bc";
}
.icon-regular--user-customs:before {
    content: "\f1bd";
}
.icon-regular--user-expressionless:before {
    content: "\f1be";
}
.icon-regular--user-female:before {
    content: "\f1bf";
}
.icon-regular--user-group:before {
    content: "\f1c0";
}
.icon-regular--user-operator:before {
    content: "\f1c1";
}
.icon-regular--user-smile-new:before {
    content: "\f1c2";
}
.icon-regular--user-smile:before {
    content: "\f1c3";
}
.icon-regular--user:before {
    content: "\f1c4";
}
.icon-regular--video:before {
    content: "\f1c5";
}
.icon-regular--volume-correction-edit:before {
    content: "\f1c6";
}
.icon-regular--volume-correction-new:before {
    content: "\f1c7";
}
.icon-regular--volume-correction:before {
    content: "\f1c8";
}
.icon-regular--waiting:before {
    content: "\f1c9";
}
.icon-regular--warning:before {
    content: "\f1ca";
}
.icon-regular--weight:before {
    content: "\f1cb";
}
.icon-regular--weightbridge:before {
    content: "\f1cc";
}
