.icon-bold--404:before {
    content: "\f101";
}
.icon-bold--arrow-down:before {
    content: "\f102";
}
.icon-bold--arrow-left:before {
    content: "\f103";
}
.icon-bold--arrow-right:before {
    content: "\f104";
}
.icon-bold--arrow-up:before {
    content: "\f105";
}
.icon-bold--berth:before {
    content: "\f106";
}
.icon-bold--checkmark-circle:before {
    content: "\f107";
}
.icon-bold--checkmark:before {
    content: "\f108";
}
.icon-bold--clear:before {
    content: "\f109";
}
.icon-bold--clock:before {
    content: "\f10a";
}
.icon-bold--collapse:before {
    content: "\f10b";
}
.icon-bold--document-euro:before {
    content: "\f10c";
}
.icon-bold--expand:before {
    content: "\f10d";
}
.icon-bold--flowmeter:before {
    content: "\f10e";
}
.icon-bold--grid:before {
    content: "\f10f";
}
.icon-bold--line-arrow-down:before {
    content: "\f110";
}
.icon-bold--line-arrow-left:before {
    content: "\f111";
}
.icon-bold--line-arrow-right:before {
    content: "\f112";
}
.icon-bold--line-arrow-up:before {
    content: "\f113";
}
.icon-bold--loading-unloading:before {
    content: "\f114";
}
.icon-bold--log-in:before {
    content: "\f115";
}
.icon-bold--log-out:before {
    content: "\f116";
}
.icon-bold--move:before {
    content: "\f117";
}
.icon-bold--pipe:before {
    content: "\f118";
}
.icon-bold--plus:before {
    content: "\f119";
}
.icon-bold--rocket:before {
    content: "\f11a";
}
.icon-bold--shell-correction:before {
    content: "\f11b";
}
.icon-bold--support:before {
    content: "\f11c";
}
.icon-bold--tank:before {
    content: "\f11d";
}
.icon-bold--user-smile:before {
    content: "\f11e";
}
.icon-bold--weightbridge:before {
    content: "\f11f";
}
